<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>You are going to delete user:<%= user.email %></h1>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <input type="password" name="password" placeholder="enter password">
        <input type="email" name="email" placeholder="enter email">
        <button>Delete</button>
    </form>
</body>
</html>